* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    border: 1px solid black;
}

.MenuOptions {
    border: 1px solid yellowgreen;
    height: 100%;
    width: 60%;
}

h1 {
    width: 100%;
    height: 5%;
}

.ContainerMain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    border: 1px solid red;
}

.FirstContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 98%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.288);
}

.IndividualsHabits {
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 30%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.288);
}

h3 {
    height: 20%;
    border-radius: 10px 10px 0px 0px;
}

.HabitCalendar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    border-radius: 0px 0px 10px 10px;
    
    
}

.calendar {
    width: 95%;
    height: 90%;
    --day-size: 16px;
    --gap: 4px;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(7, 1fr); 
    gap: var(--gap);
    align-items: start;
    overflow-x: auto;
}

.calendar::-webkit-scrollbar {
  display: none;
}

.calendar .day {
  width: var(--day-size);
  height: var(--day-size);
  border-radius: 3px;
  background: #ebedf0; /* cor padrão (GitHub-like) */
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.02);
  cursor: pointer;
}

.day.completed {
  background: #4caf50;
}

.SecondContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 98%;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.288);
}

.HabitStatistics {
    width: 95%;
    height: 50%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;   
    flex-direction: column;        /* habilita flexbox */
    justify-content: space-between;/* centraliza horizontalmente */
}

.estatisticstitle {
    border: 1px solid #4caf50;
    height: 20%;
    justify-self: start;
}

#habitChart {
    width: 10%;
    
}

.MotivationSection {
    width: 95%;
    height: 45%;
    border: 1px solid sandybrown;
    border-radius: 10px;
}

.footer {
    height: 5%;
    background-color: aqua;
    border: 1px solid;
}