* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    width: 100vw;
    height: 10vh;
    border: 1px solid black;
}
.MenuOptions {
    border: 1px solid red;
    width: 100%;
}

.logo {
    border: 1px solid;
    width: 100%;
}

.SideBar {
    width: 100%;
    border: 1px solid teal;

}

h1 {
    border: 1px solid black;
    width: 100vw;
    height: 5vh;
}

.ContainerMain {
    width: 100vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 25vw;
    align-items: center;
    justify-content: space-around;
    border: 1px solid red;
}

.FirstContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 98%;
    border: 1px solid purple;
}

.IndividualsHabits {
    border: 1px solid black;
    margin: 5px;
}



.SecondContainer {
    display: flex;
    flex-wrap: wrap;
    
    height: 98%;
    border: 1px solid purple;
}

.HabitStatistics {
    width: 100%;
    height: 60%;
    border: 1px solid black;
}

.MotivationSection {
    height: 40%;
    width: 100%;
    border: 1px solid green;
}
.ThirdContainer {
    display: flex;
    flex-wrap: wrap;
   
    height: 98%;
    border: 1px solid rgb(204, 218, 18);
}

.calendar {
    width: 100%;
    height: 50%;
    border: 1px solid;
}

.notes {
    width: 100%;
    height: 50%;
    border: 1px solid;
}




.footer {
    width: 100vw;
    height: 5vh;
    border: 1px solid green;
}